/* Containers */
.container_CSS {
  /* default from breakpoint 0, until another breakpoint overrides it */
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* position: absolute; */
}

@media (min-width: 0px) and (max-width: 698px){
  /* sm */
  .container_CSS {
    max-width: 698px;
  }
  .topButton_CSS{
    left: 83%;
    top: 90%;
    padding: 10px 10px 15px 10px;
  }
  .header_CSS{
    display: block;
    height: 150px;
  }
  .titlePartOne_CSS{
    font-size: 80px;  
    margin: 0px 20px auto 30px;
  }
  .titlePartTwo_CSS{
    font-size: 25px;  
    margin-top: 0px;
    margin-left: 48px;
  }
  .lds-roller{
    top: 500px;
  }
  .showsDivSelect_CSS, .episodeDivSelect_CSS{
    border-bottom: 1px solid #1B1C1E;    
  }
}

@media (min-width: 699px) and (max-width: 1030px) {
  /* md */
  .container_CSS {
    max-width: 1030px;
  }
  .mainDiv_CSS{
    justify-content: space-evenly;
  }
  .episodeDiv_CSS{
    width: 400px;
    height: 525px;
    margin: 10px 5px 10px 5px;
  }
  .episodeImgDiv_CSS{
    width: 380px;
    height: 248px;
  }
  .episodeImg_CSS{
    width: 380px;
    height: 248px;
  }
  .header_CSS{
    height: 140px;
  }
  .episodeSummary_CSS{
    width: 380px;
  }
  .titlePartOne_CSS{
    font-size: 120px;  
    margin-top: 0px;
    margin-left: 70px;
  }
  .titlePartTwo_CSS{
    font-size: 40px;  
    margin-top: 40px;
  }
  .showsDivSelect_CSS, .episodeDivSelect_CSS{
    border-bottom: 1px solid #1B1C1E;    
  }
}

@media (min-width: 1031px){
  /* lg */
  .container_CSS {
    min-width: 1031px;
  }
}

/* Default styles for all col-classes */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.sm-col-1,
.sm-col-2,
.sm-col-3,
.sm-col-4,
.sm-col-5,
.sm-col-6,
.sm-col-7,
.sm-col-8,
.sm-col-9,
.sm-col-10,
.sm-col-11,
.sm-col-12,
.md-col-1,
.md-col-2,
.md-col-3,
.md-col-4,
.md-col-5,
.md-col-6,
.md-col-7,
.md-col-8,
.md-col-9,
.md-col-10,
.md-col-11,
.md-col-12,
.lg-col-1,
.lg-col-2,
.lg-col-3,
.lg-col-4,
.lg-col-5,
.lg-col-6,
.lg-col-7,
.lg-col-8,
.lg-col-9,
.lg-col-10,
.lg-col-11,
.lg-col-12{
  position: relative;
  min-height: 1px;
}

/* INDIVIDUAL BREAKPOINTS */

/* All breakpoints: Extra small and above */

.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.666666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-5 {
  width: 41.666666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333%;
}
.col-8 {
  width: 66.666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333333%;
}
.col-11 {
  width: 91.666666%;
}
.col-12 {
  width: 100%;
}

/* Small and above */

@media (min-width: 0px) and (max-width: 698px) {
  .sm-col-1 {
    width: 8.333333%;
  }
  .sm-col-2 {
    width: 16.666666%;
  }
  .sm-col-3 {
    width: 25%;
  }
  .sm-col-4 {
    width: 33.333333%;
  }
  .sm-col-5 {
    width: 41.666666%;
  }
  .sm-col-6 {
    width: 50%;
  }
  .sm-col-7 {
    width: 58.333%;
  }
  .sm-col-8 {
    width: 66.666666%;
  }
  .sm-col-9 {
    width: 75%;
  }
  .sm-col-10 {
    width: 83.333333%;
  }
  .sm-col-11 {
    width: 91.666666%;
  }
  .sm-col-12 {
    width: 100%;
  }
}

/* Medium and above */

@media (min-width: 699px) and (max-width: 1030px) {
  .md-col-1 {
    width: 8.333333%;
  }
  .md-col-2 {
    width: 16.666666%;
  }
  .md-col-3 {
    width: 25%;
  }
  .md-col-4 {
    width: 33.333333%;
  }
  .md-col-5 {
    width: 41.666666%;
  }
  .md-col-6 {
    width: 50%;
  }
  .md-col-7 {
    width: 58.333%;
  }
  .md-col-8 {
    width: 66.666666%;
  }
  .md-col-9 {
    width: 75%;
  }
  .md-col-10 {
    width: 83.333333%;
  }
  .md-col-11 {
    width: 91.666666%;
  }
  .md-col-12 {
    width: 100%;
  }
}

/* Large and above */

@media (min-width: 1031px) {
  .lg-col-1 {
    width: 8.333333%;
  }
  .lg-col-2 {
    width: 16.666666%;
  }
  .lg-col-3 {
    width: 25%;
  }
  .lg-col-4 {
    width: 33.333333%;
  }
  .lg-col-5 {
    width: 41.666666%;
  }
  .lg-col-6 {
    width: 50%;
  }
  .lg-col-7 {
    width: 58.333%;
  }
  .lg-col-8 {
    width: 66.666666%;
  }
  .lg-col-9 {
    width: 75%;
  }
  .lg-col-10 {
    width: 83.333333%;
  }
  .lg-col-11 {
    width: 91.666666%;
  }
  .lg-col-12 {
    width: 100%;
  }
}
